/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-79f55cf6-ewf1blwv version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 40px;
						
						text-align: left;
						
						max-width: 550px;
						
						padding-right: 40px;
						
						margin-top: 45px;
						
						margin-left: 0px;
						
						padding-top: 40px;
						
						margin-bottom: 45px;
						
						background-color: rgba(34, 38, 53, 0.9);
						
						border-color: rgb(197, 197, 197);
						
						padding-left: 40px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .preview-divider  {
		
						border-style: solid;
						
						margin-bottom: 10px;
						
						border-color: rgb(228, 228, 228);
						
						margin-top: 5px;
						
						width: 100%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .inner-pic  {
		
						opacity: 1;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .preview-title  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .preview-body h1  { 
						font-family: 'Playfair Display';
						font-size:calc( 10px + ( 26rem - 10rem ) );
						color: rgb(228, 228, 228);
						
						letter-spacing: 0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .preview-item-links span  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 15px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						padding-right: 25px;
						
						margin-top: 15px;
						
						padding-left: 25px;
						
						padding-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .preview-element.icon-source  {
		
						width: 60px;
						
						margin-bottom: 15px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .preview-link-img  {
		
						width: 35px;
						
						margin: 5px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .preview-body-holder  {
		
						max-width: 500px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .preview-item-links span:hover  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .preview-element.Link.hover-tester  { 
						color: rgba(46, 71, 145, 0.811765);
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .inner-pic-holder  {
		
						background-color: rgb(86, 130, 182);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(198, 198, 198);
						
						letter-spacing: 0.2em;
						
						max-width: 600px;
						
						margin-top: 10px;
						
						margin-bottom: 15px;
						
						line-height: 1.6em;
							
		}
	
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .middle_layout .helper-div  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1400px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .preview-subtitle  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-ewf1blwv .preview-body h2  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(228, 228, 228);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-79f55cf6-ewf1blwv #vbid-79f55cf6-wl3u2mea .preview-content-holder{
				
							text-align : center;
					
				}


 .style-79f55cf6-ewf1blwv #vbid-79f55cf6-x7nae4q9.inner-pic{
				
							background-position : 49.0596% 100%;
					
				}










 .style-79f55cf6-ewf1blwv #vbid-79f55cf6-wl3u2mea .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-79f55cf6-tkff6dee version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 400px;
						
						padding-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(0, 0, 0, 0);
						
						border-color: rgb(197, 197, 197);
						
						padding-left: 0px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .preview-divider  {
		
						margin-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						margin-top: 5px;
						
						width: 100%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .inner-pic  {
		
						opacity: 0.17;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter: grayscale(100%);	
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .preview-title  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 5px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .preview-item-links span  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee #sr-basket-widget *  { 
						border-width: 0px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 15px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0.1em;
						
						text-decoration: underline;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						padding-top: 15px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						margin-top: 0px;
						
						margin-bottom: 10px;
						
						width: 50px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .preview-link-img  {
		
						width: 24px;
						
						margin: 12px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .preview-body-holder  {
		
						max-width: 500px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .preview-item-links span:hover  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .preview-element.Link.hover-tester  { 
						color: rgb(255, 82, 82);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .preview-item-links span:before  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(89, 89, 89);
						
						letter-spacing: 0.2em;
						
						max-width: 600px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .middle_layout .helper-div  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .preview-subtitle  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-tkff6dee .preview-body h2  { 
						line-height: 1.5em;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 15px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: "Playfair Display";
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-79f55cf6-tkff6dee #vbid-79f55cf6-bkxatmaw .preview-content-holder{
				
							text-align : center;
					
				}


 .style-79f55cf6-tkff6dee #vbid-79f55cf6-ylne5bwo.inner-pic{
				
							background-position : 44.6708% 48.2667%;
					
				}










 .style-79f55cf6-tkff6dee #vbid-79f55cf6-bkxatmaw .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-79f55cf6-ym5ckobd version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .title-holder  {
		
						text-align: center;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .Title  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .Body h1  { 
						color: #8a7373;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-family: open-sans;
						
						letter-spacing: 0.15em;
						
						font-weight: bold;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd  .preview-content-holder  {
		
						margin-right: 20px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 300px;
						
						padding-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 20px;
						
						padding-top: 0px;
						
						margin-bottom: 40px;
						
						border-color: rgb(60, 60, 60);
						
						padding-left: 0px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .item-content:not(.blocks_layout)  {
		
						color: rgba(0, 0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .preview-divider  {
		
						margin-bottom: 5px;
						
						border-color: rgb(112, 112, 112);
						
						margin-top: 5px;
						
						width: 100%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .inner-pic  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						font-family: 'Times New Roman';
						
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						border-width: 1px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .background-div  {
			
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .preview-title  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.2em;
						
						margin-top: 20px;
						
						line-height: 1.2em;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd.master.item-box   {
		
						padding-left: 0%;
						
						width: 100%;
						
						padding-right: 0%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .preview-item-links span  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd #sr-basket-widget *  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(244, 244, 244);
						
						padding-bottom: 15px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0.3em;
						
						padding-right: 15px;
						
						margin-top: 25px;
						
						padding-left: 15px;
						
						padding-top: 15px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(34, 38, 53, 0.901961);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .blocks-preview-body  {
		
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .preview-element.icon-source  {
		
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						margin-top: 0px;
						
						width: 50px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .Subtitle  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd.item-box > .item-wrapper   {
		
						max-width: 2000px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .blocks-preview-subtitle  {
		
						margin-bottom: 10px;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						margin-top: 10px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .preview-item-links span:before  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .preview-price  {
		
						font-family: Arial;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .preview-item-links span:hover  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .blocks-preview-title  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 500px;
						
						margin-right: 0px;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .preview-subtitle  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-ym5ckobd .preview-body h2  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						color: rgb(53, 53, 53);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						line-height: 1.5em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





 .style-79f55cf6-ym5ckobd #vbid-79f55cf6-nt7pvsrk.inner-pic{
				
							background-position : 0% 50.3922%;
					
				}


























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-79f55cf6-dwjvelha version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 700px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgba(253, 253, 253, 0.53);
						
						padding-left: 0px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .preview-divider  {
		
						color: rgb(0, 0, 0);
						
						border-color: rgb(154, 154, 154);
						
						margin-top: 10px;
						
						width: 35%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .inner-pic  {
		
						color: rgb(255, 255, 255);
						
						opacity: 0.98;
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .preview-title  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .preview-body h1  { font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(154, 154, 154);
						
						letter-spacing: 0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .preview-item-links span  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha #sr-basket-widget *  { font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(198, 198, 198);
						
						padding-bottom: 15px;
						
						border-color: rgb(112, 112, 112);
						
						letter-spacing: 0.05em;
						
						padding-right: 20px;
						
						margin-top: 20px;
						
						padding-left: 20px;
						
						padding-top: 15px;
						
						font-family: 'Playfair Display';
						
						background-color: rgba(34, 38, 53, 0.901961);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						margin-bottom: 15px;
						
						width: 50px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .background-image-div  {
		
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .preview-link-img  {
		
						width: 33px;
						
						margin: 4px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .preview-icon-holder  {
		
		    			-webkit-filter: invert(50%);filter: invert(50%);
						margin-bottom: 40px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .preview-item-links span:hover  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(112, 112, 112);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .inner-pic-holder  {
		
						background-color: rgba(34, 38, 53, 0.901961);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .preview-item-links span:before  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .effect-tester  { 
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						max-width: 600px;
						
						margin-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
							
		}
	
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 20px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .middle_layout .helper-div  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .preview-subtitle  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-dwjvelha .preview-body h2  { 
						font-family: Abel;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(154, 154, 154);
						
						letter-spacing: 0.55em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.1em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-79f55cf6-dwjvelha #vbid-79f55cf6-2hekazwm .preview-content-holder{
				
							text-align : center;
					
				} .style-79f55cf6-dwjvelha #vbid-79f55cf6-9iidsf1e .preview-content-holder{
				
							text-align : center;
					
				} .style-79f55cf6-dwjvelha #vbid-79f55cf6-sffoccla .preview-content-holder{
				
							text-align : center;
					
				} .style-79f55cf6-dwjvelha #vbid-79f55cf6-s5gcuh2w .preview-content-holder{
				
							text-align : center;
					
				}


 .style-79f55cf6-dwjvelha #vbid-79f55cf6-ar28mndm.inner-pic{
				
							background-position : 44.4619% 100%;
					
				} .style-79f55cf6-dwjvelha #vbid-79f55cf6-crbpzm8n.inner-pic{
				
							background-position : 29.6% 44.3689%;
					
				} .style-79f55cf6-dwjvelha #vbid-79f55cf6-dwujvjhh.inner-pic{
				
							background-position : 83.6865% 21.2913%;
					
				} .style-79f55cf6-dwjvelha #vbid-79f55cf6-pt3usquh.inner-pic{
				
							background-position : 87.6% 47.6893%;
					
				} .style-79f55cf6-dwjvelha #vbid-79f55cf6-bsoteltk.inner-pic{
				
							background-position : 48.7461% 100%;
					
				} .style-79f55cf6-dwjvelha #vbid-79f55cf6-akx8lnfs.inner-pic{
				
							background-position : 100% 52.1359%;
					
				}











 .style-79f55cf6-dwjvelha #vbid-79f55cf6-2hekazwm .preview-content-wrapper{
				
							text-align : center;
					
				} .style-79f55cf6-dwjvelha #vbid-79f55cf6-9iidsf1e .preview-content-wrapper{
				
							text-align : center;
					
				} .style-79f55cf6-dwjvelha #vbid-79f55cf6-sffoccla .preview-content-wrapper{
				
							text-align : center;
					
				} .style-79f55cf6-dwjvelha #vbid-79f55cf6-s5gcuh2w .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-79f55cf6-l5tmx8hc version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc.master.item-box   {
		
						position: relative;
						
						background-color: rgb(244, 244, 244);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .preview-item-links span:hover  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(147, 147, 147, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc.master.item-box   {
		
						padding-left: 3%;
						
						padding-right: 3%;
						
						width: 94%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .preview-item-links span  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc #sr-basket-widget *  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(39, 39, 39);
						
						padding-bottom: 20px;
						
						border-color: rgba(255, 255, 255, 0.670588);
						
						letter-spacing: 0.05em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						padding-top: 20px;
						
						font-family: Abel;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .preview-title  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .preview-body h1  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-left: 0px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .preview-item-links.allow-bg-color  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .submenu  { 
						background-color: rgba(0, 0, 0, 0.619608);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .preview-divider  {
		
						border-bottom-width: 1px;
						
						width: 10%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						margin-right: 10px;
						
						margin-top: 10px;
						
						margin-left: 10px;
						
						margin-bottom: 20px;
						
						width: 50px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .stripe-background  {
		
						margin-left: -3%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .preview-item-links span:before  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .effect-tester  { 
						background-color: rgb(181, 181, 181);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .middle_layout .helper-div  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .preview-subtitle  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-l5tmx8hc .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Montserrat;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-79f55cf6-n29fq98w version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .background-div  {
		
						opacity: 0.4;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w.master.item-box   {
		
						background-color: rgb(244, 244, 244);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .preview-title  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .preview-body h1  { font-size:calc( 10px + ( 14rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						margin-top: 0px;
						
						margin-bottom: 5px;
						
						font-family: 'Times New Roman';
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .inner-pic-holder  {
		
						background-color: rgb(244, 244, 244);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 450px;
						
						padding-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 40px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .preview-item-links span  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w #sr-basket-widget *  { font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgba(0, 0, 0, 0.819608);
						
						padding-bottom: 10px;
						
						border-color: rgba(0, 0, 0, 0.819608);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						font-family: Times New Roman;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .preview-divider  {
		
						border-color: rgb(0, 0, 0);
						
						width: 25%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .preview-icon-holder  {
		
		    			-webkit-filter: invert(100%);filter: invert(100%);	
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .preview-item-links span:hover  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						max-width: 800px;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .preview-element.icon-source  {
		
						margin-bottom: 25px;
						
						width: 120px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .inner-pic  {
		
						color: rgb(0, 0, 0);
						
						opacity: 0.41;
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .middle_layout .helper-div  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .preview-subtitle  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-n29fq98w .preview-body h2  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.4em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-79f55cf6-fai9o2ux version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 500px;
						
						margin-right: 10px;
						
						margin-top: 20px;
						
						margin-left: 10px;
						
						margin-bottom: 40px;
						
						background-color: rgba(159, 80, 80, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-divider  {
		
						margin-bottom: 10px;
						
						border-bottom-width: 1px;
						
						width: 15%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .inner-pic  {
		
						color: rgb(0, 0, 0);
						
						opacity: 0.29;
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-form .Field  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						padding-bottom: 15px;
						
						border-color: rgb(142, 142, 142);
						
						max-width: 600px;
						
						padding-right: 10px;
						
		    			border:none;
						padding-left: 10px;
						
						padding-top: 15px;
						
						min-width: 220px;
						
						font-family: Arial;
						
						background-color: rgb(243, 243, 243);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -2%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-form .Field:hover  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-form .Field.hover-tester:not(.placeholder-mode)  { 
						color: rgb(0, 0, 0);
						
						background-color: rgb(255, 255, 255);
						
						color: rgb(67, 67, 67);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .multi_layout .helper-div.middle-center  {
		
						padding-left: 2%;
						
						padding-right: 2%;
						
						width: 96%;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .background-div  {
			
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-title  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 31rem - 10rem ) );
						color: rgba(34, 38, 53, 0.901961);
						
						letter-spacing: 0.0em;
						
						margin-top: 5px;
						
						margin-bottom: 15px;
						
						line-height: 1.0em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-item-links span  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux #sr-basket-widget *  { 
						line-height: 1.0em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 15px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: -0.0em;
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						padding-top: 15px;
						
						margin-bottom: 0px;
						
						font-family: Abel;
						
						background-color: rgba(34, 38, 53, 0.901961);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 60px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-form .Field.placeholder-mode:not(:hover)  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-form .Field.no-value:not(:hover)  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-form .field-holder .Field.field-dropdown:not(.placeholder-mode):not(.no-value):not(:hover)  { 
						color: rgb(64, 64, 64);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-item-links span:before  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-body-holder  {
		
						max-width: 600px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-item-links span:hover  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .inner-pic-holder  {
		
						background-color: rgb(204, 204, 204);
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-body  {
		
						font-family: Abel;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						max-width: 800px;
						
						margin-top: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.3em;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .field-holder  {
			
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .middle_layout .helper-div  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 500px;
							
		}
	 .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-subtitle  ,  .style-79f55cf6-p5iuz5sa .style-79f55cf6-fai9o2ux .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
						
						font-family: Abel;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



 .style-79f55cf6-fai9o2ux #vbid-79f55cf6-vruuxoge.inner-pic{
				
							background-size : cover;
					
							background-position : 37.5653% 16.2338%, 37.5653% 16.2338%;
					
				} .style-79f55cf6-fai9o2ux #vbid-79f55cf6-80cx6o3r.inner-pic{
				
							background-position : 21% 24.1448%;
					
				}























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-79f55cf6-p5iuz5sa version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-79f55cf6-p5iuz5sa .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-79f55cf6-p5iuz5sa .Title  ,  .master .style-79f55cf6-p5iuz5sa .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-79f55cf6-p5iuz5sa .raw-container  {
		
						padding-top: 0px;
						
						margin-right: 0px;
						
						margin-left: 0px;
							
		}
	 .master .style-79f55cf6-p5iuz5sa .item-links span  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	 .master .style-79f55cf6-p5iuz5sa .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-79f55cf6-p5iuz5sa .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-79f55cf6-p5iuz5sa .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-79f55cf6-p5iuz5sa .Subtitle  ,  .master .style-79f55cf6-p5iuz5sa .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-79f55cf6-p5iuz5sa .raw-wrapper  {
		
						background-color: rgb(240, 163, 180);
							
		}
	 .master .style-79f55cf6-p5iuz5sa .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-79f55cf6-p5iuz5sa .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-79f55cf6-p5iuz5sa .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .master .style-79f55cf6-p5iuz5sa .link-wrapper  {
		
						max-width: 1058px;
							
		}
	
	 .style-79f55cf6-p5iuz5sa.master.container > #children  {
		
						background-color: rgb(165, 236, 25);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/

























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Abel;
				
						letter-spacing: 0.0em;
				
						line-height: 1.4em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: "Playfair Display";
				
						letter-spacing: 0.0em;
				
						line-height: 1.4em;
					
		}
	
	
	
			  .header-box + .master.item-box.fill-height , 
			  #menu-placeholder + .master.item-box.fill-height { 
						min-height: calc(100vh - 0px)!important;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Abel;
				
						letter-spacing: 0.05em;
				
						border-width: 2px;
				
						border-radius: 0px;
					
		}
	
	
	
			body    {
		
						background-color: rgb(165, 236, 25);
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Abel;
				
						letter-spacing: 0.0em;
				
						line-height: 1.8em;
					
		}
	
	
	
			#xprs.in-editor  .header-box + .control-handle + .master.item-box.fill-height , 
			#xprs.in-editor  #menu-placeholder + .control-handle + .master.item-box.fill-height { 
						min-height: calc(100vh - 50px)!important;
					
		}